/*@charset "utf-8";*/
/*!* CSS Document *!*/
/*body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{*/
	/*margin:0;*/
	/*padding:0;*/
/*}*/
/*html,body{*/
	/*height: 100%;*/
/*}*/
/*html{*/
	/*!*font-size: 100px;*!*/
	/*!*1vw = 3.75px*/
	/*?vw = 100px*/
	/*? = 100/3.75 = 26.67*!*/
	/*font-size: 26.67vw;*/
/*}*/
/*body{*/
	/*font-family:"微软雅黑",Arial;*/
   /*background: #eeeeee;*/
	 /*display: -webkit-flex;*/
	/*-webkit-flex-direction:column;*/
	/**/
/*}*/
/*a{*/
    /*text-decoration:none;*/
    /*color: black;*/
/*}*/
/*li{*/
	/*list-style:none;*/
/*}*/
/*img{*/
	/*border:none;*/
/*}*/
/* 第一部分头部 */
.header{
    height: 0.46rem;
    background:#e9e9e9;
    display: flex;
    align-items: center;
    padding: 0 0.12rem;
}
.header a{
font-size: 0.2rem;
color: black;
display: block;
width: 4%;
text-align: center

}
.header h2{
    font-size: 0.15rem;
    color: black;
    width: 96%;
    text-align: center
    
    
}
/* 第二部分用户信息 */
.userinfor{
    /* height: 0.88rem; */
    background: #4571d4;
    padding: 0.05rem;
    
    
}
.ulone{
    display: flex;
    align-items: center;
}
.ulone li img{
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background: red;
    border-radius: 50%;

}
.user_ul li{
    font-size: 0.14rem;
    color:white;
    margin-left: 0.12rem;
}
.user_ul li a{
    font-size: 0.1rem;
    color:white;
}
/* 2.2 */
.ultwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.12rem;

}
.ultwo li{
    width: 24%;
    background: #233e6b;
    color: white;
    font-size: 0.14rem;
    text-align: center;
}
.ultwo li p{
    line-height:0.26rem; 
}
/* <!-- 第三部分我的订单 --> */
.order_top{
    padding: 0.12rem;
   
    box-sizing: border-box;
    /* border-bottom: 1px solid #dadada; */
    
}
.order_top img{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    float: left;

}
.order_top h2{
    font-size: 0.15rem;
    color: black;
    float: left;
}
.order_top a{
font-size: 0.1rem;
color: #999999;
display: block;
float: right;
}
/* 3.2 */
.order_minder{
    margin-top: 0.12rem;
}
.minder_ul{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    background: #eeeeee;
    

}
.minder_ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.12rem;
   padding: 0.12rem;
}
.minder_ul li {
    padding: 0.12rem;
    background: white;
    width: 25%;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
}
.minder_ul li img{
    display: block;
    width: 0.32rem;
    height: 0.22rem;
}
.minder_ul li span{
font-size: 0.12rem;
color: black;
line-height: 0.25rem;

}
/* .<!-- 第四部分猜你喜欢 --> */
/* 4.1 */
.like_top{
    display: flex;
    padding: 0.12rem;
}
.like_top img{
display: block;
 width: 0.2rem;
 height: 0.2rem;
 margin-right: 0.08rem;
}
.like_top h2{
    font-size: 0.15rem;
    color: black;
}
/* 4.2 */
.botul{
    display: flex;
    flex-wrap: wrap;
    background: white;

}
.botul li{
    width: 33%;
    display: flex;
    flex-direction: column;
}
.botul li a{
  display: block;
}
.botul li img{
    width: 0.9rem;
    height: 0.9rem;
    display: block;
}
.botul li p{
    font-size: 0.12rem;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
    padding: 0.15rem;
}
.botul li p:last-child{
    color: red;
}
/* <!-- 圣杯布局 --> */
.connent{
    overflow-y: auto;
    flex: 1;
}
