@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
html{
	/*font-size: 100px;*/
	/*1vw = 3.75px
	?vw = 100px
	? = 100/3.75 = 26.67*/
	font-size: 26.67vw;
}
body{
	font-family:"微软雅黑",Arial;
    background: white;
    
	/* display: -webkit-flex;
	-webkit-flex-direction:column; */
	
}
a{
    text-decoration:none;
    color: black;
}
li{
	list-style:none;
}
img{
	border:none;
}
/* <!-- 第一部分头部 --> */
.header{
    height: 0.44rem;
    padding:0.1rem;
    background: #e9e9e9;
}
.header ul{
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.header ul li{
    font-size: 0.15rem;
    color: black;
}
/* <!-- 第二部分内容 --> */
.connent{
    padding: 0.14rem;
}
.conul form li{
    font-size: 0.13rem;
    margin-bottom: 0.15rem;
    position: relative;
     
}
.conul form li:nth-child(2){
    display: flex;
    white-space: nowrap;
    align-items: center;
    
}
.conul form li:nth-child(2) img{
    position: absolute;
    left: 50%;
}
.conul form li:nth-child(2) a{
    position: absolute;
    left: 70%;
}
.conul form li:nth-child(3){
    display: flex;
    white-space: nowrap;
    align-items: center;
    
}
.conul form li:nth-child(3) a{
    left: 60%;
    color: white;
    position: absolute;
    display: block;
    width: 40%;
    height: 100%;
    text-align: center;
    background: #00bad6;
    font-size: 0.17rem;
    line-height: 0.46rem;
}
.conul form li:nth-child(6){
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: #00bad6;
}

.conul form li input{
    height: 0.42rem;
    width: 100%;
}
.conul form li:nth-child(6) label{
margin-left: 0.2rem;
}
.conul form li:nth-child(7) button {
    height: 0.37rem;
    width: 100%;
    margin: auto;
    background: #00bad6;
    color: white;
}
